@import '../settings';

.container {
  width: 100%;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;

  @each $breakpoint, $container-max-width in $container-max-widths {
    @include breakpoint($breakpoint) {
      max-width: $container-max-width;
    }
  }
}
