@import '../settings';

.enterprises-list {
  &__empty {
    text-align: center;
    color: $dark-grey;
    margin: 70px 0 40px;
  }

  &__wrapper {
    @include breakpoint(xl) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__item {
    @include breakpoint(xl) {
      width: 49%;
    }
  }
}
