@import '../settings';

.enterprise-card {
  @extend %card;
  text-decoration: none;
  transition: box-shadow .3s ease;

  &:hover {
    box-shadow: 0 2px 5px transparentize($black, 0.5);
  }

  @include breakpoint(md) {
    display: flex;
  }

  &__image {
    width: 100%;

    @include breakpoint(md) {
      max-width: 290px;
    }
  }

  &__details {
    margin-top: 20px;

    @include breakpoint(md) {
      margin-top: 0;
      margin-left: 20px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
  }

  &__type {
    font-size: 18px;
    color: $dark-grey;
    margin: 10px 0;
  }

  &__location {
    font-size: 14px;
    color: $dark-grey;
  }
}
