@import '../settings';

.enterprise-details {
  @extend %card;
  margin-top: 20px;

  &__image {
    display: block;
    max-width: 100%;
    margin: 0 auto 30px;
  }

  &__text {
    color: $dark-grey;
    line-height: 1.2;
  }
}
