@import '../settings';

.header-bar {
  background-color: $medium-pink;
  background-image: linear-gradient(180deg, $medium-pink 0%, transparentize($night-blue, .75) 100%);

  &__container {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(md) {
      height: 150px;
      justify-content: center;
    }

    &--left-align {
      justify-content: flex-start;
    }
  }
}
