@import '../settings';

.listing-header {
  &__logo {
    max-width: 200px;
  }

  &__toggle {
    border: 0;
    background: none;

    @include breakpoint(md) {
      position: absolute;
      right: 0;
    }
  }

  &__button-icon {
    width: 45px;
  }

  &__form {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $white;
  }

  &__form-input {
    width: 100%;
    height: 40px;
    background: none;
    border: 0;
    font-size: 16px;
    color: $white;

    @include placeholder {
      color: $charcoal-grey;
    }

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      content: url('/assets/ic-close.svg');
      height: 40px;
      width: 40px;
    }
  }
}
