@import '../settings';

.loading-widget {
  background-color: transparentize($off-white, 0.4);
  backdrop-filter: blur(1px);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
