@import '../settings';

.login-form {
  $block: &;

  &--with-errors {
    #{$block}__input-set {
      border-bottom-color: $red;
    }
  }

  &__input-set {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid $charcoal-grey;
    padding: 5px 0;
    margin-bottom: 30px;

    &--email,
    &--password {
      &::before {
        width: 30px;
      }
    }

    &--email {
      &::before {
        content: url('/assets/ic-email.svg');
      }
    }

    &--password {
      &::before {
        content: url('/assets/ic-cadeado.svg');
      }
    }
  }

  &__input {
    flex-grow: 1;
    height: 35px;
    background: none;
    border: 0;
    font-size: 20px;
  }

  &__input-button {
    padding: 0;
    margin: 0;
    background: none;
    border: 0;

    &-icon {
      width: 35px;
      height: 30px;
    }
  }

  &__error-copy {
    font-size: 12px;
    color: $red;
    text-align: center;
    margin-bottom: 20px;
  }

  &__submit-button {
    @extend %button;
    width: 100%;
  }
}
