// Colors
$black: #000;
$white: #fff;
$charcoal-grey: #383743;
$dark-grey: #748383;
$night-blue: #0d0430;
$off-white: #eeecdb;
$medium-pink: #ee4c77;
$teal: #57bbbc;
$red: #ff0f44;

// Fonts
$roboto: 'Roboto', sans-serif;
$sourceSans: 'Source Sans Pro', sans-serif;

// Layout/Breakpoints
$breakpoints: (
  xs: 0,
  sm: 420px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  wd: 1440px
);

$container-max-widths: (
  sm: 400px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  wd: 1330px,
);

// Base64 Icons

// Placeholders
%card {
  display: block;
  background-color: $white;
  border-radius: 5px;
  padding: 25px;
  margin: 20px 0;
}

%button {
  padding: 15px 20px;
  background-color: $teal;
  border: 1px solid transparent;
  border-radius: 3px;
  color: $white;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}
