@import '../settings';

.enterprise-details {
  &__header-link {
    text-decoration: none;
  }

  &__header-link-icon {
    width: 30px;
    margin-right: 15px;
  }

  &__header-title {
    color: $white;
    font-size: 24px;

    @include breakpoint(md) {
      font-size: 30px;
    }
  }
}
