@import '../settings';

.home {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    max-width: 350px;
    width: 100%;
    padding: 40px 15px;
  }

  &__logo {
    display: block;
    margin: 0 auto 50px;
    width: 90%;
  }

  &__title {
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;
    color: $charcoal-grey;
  }

  &__subtitle {
    text-align: center;
    padding: 30px 0;
    color: $charcoal-grey;
    line-height: 1.5;
  }
}
